# Default ignored files
/workspace.xml
/description.html
/encodings.xml
/misc.xml
/modules.xml
/project-template.xml
/uiDesigner.xml
/workspace.xml
/vcs.xml
/dictionaries/user64.xml
/inspectionProfiles/Project_Default.xml
/LHC_3894913.iml
